<div>
    <!-- l'equivalent de children dans react -->
    <!-- header pour implementer le css de monfichier -->
    <!-- <p class="header">Header component</p> -->
    <p class="bg-slate-100 px-4 py-3">Header component</p> 

    <ng-content></ng-content> 
    
    <!-- String Interpolation  -->
     <p> {{title}} </p>
    <!-- String Interpolation but using a signal -->
     <p> {{titre()}} </p>

    <!-- Adding tailwind -->
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>

    <!-- passing states -->
    <!--<app-primary-button label="Bonjour le monde" (btnClicked)="showButtonClicked()" /> -->
    
    <!-- Dynamic data passing -->
    <app-primary-button [label]="cart()" (btnClicked)="showButtonClicked()" />


</div>
